.cs-msg-container {
    margin-top: 20px;
}

.cs-main-container {
    margin-top: 30px;
}

.cs-recent-resource {
    color: #007BBD;
}

.cs-topics-flex {
    display: flex;
    flex-wrap: wrap;
}

.cs-form-header {
    text-align: center;
}

.cs-form-container {
    width: 30%;
    margin: 25px auto;
}

.cs-img-btn {
    background: none;
    border: none;
}

.cs-user-profile-badge {
    font-size: 0.7rem;
}

#cs-new-comment-field {
    resize: none;
    border: none;
    padding: 5px 20px;
    transition: min-height 0.5s;
    min-height: 20px;
    height: 30px;
}

#cs-new-comment-field:focus {
    outline: none;
    transition: min-height 0.5s;
    min-height: 100px;
}

#cs-new-comment-header {
    padding: 0 20px;
    opacity: 0.5;
}

#cs-new-comment-submit {
    background: none;
    border: none;
}

#cs-new-comment-submit:focus {
    outline: none;
}

#cs-new-comment-submit:hover {
    color: #739dce;
}

#cs-edit-comment-field {
    resize: none;
    border: none;
    height: 100px;
    width: 100%;
    padding: 0 20px;
}

#cs-edit-comment-field:focus {
    outline: none;
}

.delete-form {
    display: inline;
}