<% include ../partials/header %>

<div>
  <h1 class="display-3">CodeSurf Topics</h1>
  <p class="lead">Explore our collection of software related resources!</p>
  <hr class="my-4">
  <!--<p class="lead">-->
  <!--  <a class="btn btn-primary btn-lg" href="/about" role="button">Learn more</a>-->
  <!--</p>-->
</div>

<div class="row">
	<div class="col-md-4">
		<div class="card">
		  <div class="card-header">
		    Featured
		  </div>
		  <ul class="list-group list-group-flush">
		    <li class="list-group-item">Cras justo odio</li>
		    <li class="list-group-item">Dapibus ac facilisis in</li>
		    <li class="list-group-item">Vestibulum at eros</li>
		  </ul>
		</div>
	</div>
	<div class="col-md-8">
		<form>
			<div class="row">
				<div class="col-md-9">
					<div class="form-group">
						<input class="form-control" type="text" placeholder="search...">
					</div>
				</div>
				<div class="col-md-3">
					<button class="btn btn-primary btn-md btn-block">Search</button>
				</div>
			</div>
		</form>
	</div>
</div>

<% include ../partials/footer %>