<% include ../partials/header %>

<div class="jumbotron">
  <h1 class="display-3"><%= topic.title %></h1>
  <p class="lead"><%= topic.description %></p>
  <hr class="my-4">
</div>

<div class="row">
	<div class="col-md-9">
		<h4>Resources</h4>
	</div>
	<div class="d-none d-md-block col-md-3">
		<h6><em>Top 10 in subreddit</em></h6>
	</div>
</div>

<% include ../partials/footer %>